<div class="container-fluid bg-3 text-center">
  <br>
  <div class="row w3-card">
    <div class="col-md-4">
      <img src="<%= polymorphic_url(@employee.picture) %>" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="empdet col-md-4 text-left pl-5">
      <p>
        <strong>First name:</strong>
        <%= @employee.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @employee.last_name %>
      </p>

      <p>
        <strong>SSN:</strong>
        <%= @employee.ssn %>
      </p>
      <p>
        <strong>Address:</strong>
        <%= @employee.address %>
      </p>
      <p>
        <%= link_to 'Edit', edit_employee_path(@employee), class:'btn btn-warning' %>
      </p>
    </div>
    <div class="col-md-4">
      <div>
        <% if current_user.employee.timers.blank? %>
          <%= link_to 'Clock In', timers_clockin_path, class:'btn btn-success' %>
        <% elsif current_user.employee.timers.last.time_in.blank? or current_user.employee.timers.last.time_in.present? and current_user.employee.timers.last.time_out.present? %>
          <%= link_to 'Clock In', timers_clockin_path, class:'btn btn-success' %>
        <% else %>
          <%= link_to 'Clock Out', timers_clockout_path, class:'btn btn-danger' %>
        <% end %>
      </div>
      <br>
      <% if current_user.employee.timers.last.blank? %>
      <p></p>
      <% elsif current_user.employee.timers.last.time_in.present? and current_user.employee.timers.last.time_out.blank? %>
      <p class="text-left">
        Welcome to work! Your last reporting time was on <b><%= current_user.employee.timers.last.time_in.strftime("%d, %b %Y,") %></b> at <b><%= current_user.employee.timers.last.time_in.strftime("%I:%M %p") %></b>
      </p>
      <% else %>
      <br>
      <p class="text-left">
        Your last clockout time was on <b><%= current_user.employee.timers.last.time_out.strftime("%d, %b %Y,") if current_user.employee.timers.last.time_out %></b> at <b><%= current_user.employee.timers.last.time_out.strftime("%I:%M %p") if current_user.employee.timers.last.time_out %></b>
      </p>
      <br>
      <p class="text-left">
        You worked a total of <b><%= ((current_user.employee.timers.last.time_out - current_user.employee.timers.last.time_in)/1.minute).round %></b> minutes
      </p>
      <% end %>
    </div>

  </div>
</div><br><br>
